{% extends 'base.html.twig' %}


{% block title %}Les objets{% endblock %}

{% block body %}
    <h1>Les objets</h1>
    <table>
        <tr><th>Name</th><th>{{ constant('App\\Entity\\MySubObject::STATUS_WAITING') }}</th><th>All</th></th>
    {% for object in objects %}
        <tr><td>{{ object }}</td><td></td><td>{{ object.subObjects|length }}</td></tr>
    {% endfor %}
    </table>
{% endblock %}